- if user_signed_in?
  = link_to "Sign out", destroy_user_session_path, method: :delete
- else
  = link_to "Sign in", new_user_session_path
  = link_to "Sign up", new_user_registration_path

= link_to "Add a post", new_post_path

- if @posts.any?
  - @posts.each do |post|
    %h3= image_tag post.image.url(:medium)
    %h3= post.description

    - if post.comments.any?
      %ul
        - post.comments.each do |comment|
          %li= comment.content
    
    = link_to "Comment", new_post_comment_path(post)
- else
  %p No posts yet
